/* header.component.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Убираем горизонтальный скролл */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, rgba(0, 123, 255, 0), rgba(255, 255, 255, 0));
  padding: 10px;
  position: fixed; /* Фиксированное положение */
  top: 0; /* Размещение вверху страницы */
  left: 0; /* Выравнивание по левому краю */
  width: 100%; /* Ширина на 100% */
  z-index: 999; /* Обеспечиваем нахождение над остальным содержимым */
}

.menu-items {
  display: flex;
  gap: 15px;
color:black;
  font-family: "Times New Roman", serif;
  font-size:20px;

  font-color:black;

}

.navbar-toggler {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
}

@media (max-width: 910px) {
  .menu-items {
    display: none;
    flex-direction: column;
    gap: 10px;
    background: rgba(255, 255, 255, 0);
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 10px;
    border: 1px solid #2b87ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .menu-items.active {
    display: flex;
  }

  .navbar-toggler {
    display: block;
  }
}


