<!-- password-change.component.html -->
<div class="password-change-container">
  <h2>Изменение пароля</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="currentPassword">Текущий пароль:</label>
    <input type="password" id="currentPassword" [(ngModel)]="currentPassword" name="currentPassword" required>

    <label for="newPassword">Новый пароль:</label>
    <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>

    <label for="reNewPassword">Повторите новый пароль:</label>
    <input type="password" id="reNewPassword" [(ngModel)]="reNewPassword" name="reNewPassword" required>

    <button type="submit">Изменить пароль</button>
  </form>
</div>

