/* pdfdownloader.component.css */

.upload-container {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.pdf-text-container {
  padding: 10px;
  border: 1px solid #ccc;
}

.pdf-text-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pdf-text-container ul li {
  margin-bottom: 5px;
}

.drag-over {
  border-color: #4CAF50;
}






