<div class="upload-container"
     (dragover)="onDragOver($event)"
     (dragleave)="onDragLeave($event)"
     (drop)="onDrop($event)">
  <input type="file" (change)="handleFileInput($event)">
  <p>Drag and drop a PDF file here, or click to select a file</p>
</div>

<div *ngIf="pdfText.length > 0" class="pdf-text-container">
  <h3>Extracted Text from PDF:</h3>
  <div class="pdf-text">
    <p *ngFor="let text of pdfText">{{ text }}</p>
  </div>
  <button class="btn btn-primary" (click)="uploadPdfData()"></button>
</div>



<div *ngIf="assessmentResult" class="assessment-result">
  <h3>Assessment Result</h3>
  <p>ID: {{ assessmentResult.id }}</p>
  <p>Rating: {{ assessmentResult.rating }}</p>
  <p>Comments: {{ assessmentResult.comments }}</p>
</div>






