<div class="register-container">
  <h2 class="register-title">Login</h2>
  <form>
    <div class="input-box">
      <input class="register-input" type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
    </div>
    <div class="input-box">
      <input class="register-input" type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
    </div>
    <div class="input-box button">

      <button class="register-button" (click)="login()">Login</button>
    </div>
  </form>
  <div class="text">
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <a routerLink="/register">Register</a>
    <p>   </p>
    <a routerLink="/password-forgotten">Password Forgotten?</a>
  </div>

  <div class="text">

  </div>

</div>




