/* app.component.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.headers {
  width: 100%;
  position: fixed; /* Фиксированное положение */
  top: 0; /* Размещение вверху страницы */
  left: 0; /* Выравнивание по левому краю */
  z-index: 999; /* Обеспечиваем нахождение над остальным содержимым */
  background-color: rgba(0, 123, 255, 0); /* Настраиваем цвет фона */
  color: white; /* Настраиваем цвет текста */
  padding: 10px; /* Добавляем отступ */
}

.main-content {
  flex: 1;
  margin-top: 70px; /* Учитываем высоту фиксированного хедера */
  padding: 20px;
}

.footer {
  width: 100%;
  position: fixed; /* Фиксированное положение */
  bottom: 0; /* Размещение внизу страницы */
  left: 0; /* Выравнивание по левому краю */
  z-index: 999; /* Обеспечиваем нахождение над остальным содержимым */
  background-color: #007bff; /* Настраиваем цвет фона */
  color: white; /* Настраиваем цвет текста */
  text-align: center;
  padding: 10px 0; /* Добавляем отступ */
}

