
body {
  background-color: white;
}
/* Define scrollbar styles */
::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Set the color of the handle on hover */
}
